<div class="row">
    <div class="col-md-12">
            <!-- <span>Phone list</span> -->
            <!-- <pre>{{$ctrl | json}}</pre> -->
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.value">    <!-- value is populated from resolver ... -->
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                    </tr>
                </tbody>        
            </table>    
    </div>
    <div>
        <button type="button" ng-click="$ctrl.testState()">Go 2 home state</button>
    </div>
</div>
